In [1]:
import numpy as np
from pandas import Series, DataFrame
import pandas as pd
from numpy.random import randn
#rand: normal distribution

In [5]:
ser1 = Series([1,2,3,4],index = ['A','B','C','D'])
ser1

A    1
B    2
C    3
D    4
dtype: int64

In [6]:
ser2 = ser1.reindex(['A','B','C','D','E','F'], fill_value=1)

In [7]:
ser2

A    1
B    2
C    3
D    4
E    1
F    1
dtype: int64

In [8]:
ser2.reindex(['A','B','C','D','E','F','G'],fill_value=0)
# pass the filled value 'G' equals 0

A    1
B    2
C    3
D    4
E    1
F    1
G    0
dtype: int64

In [10]:
ser2['G'] = 3
ser2

A    1
B    2
C    3
D    4
E    1
F    1
G    3
dtype: int64

In [11]:
ser3 = Series(['USA','Mexico','Canada'],index=[0,5,10])

In [10]:
ser3

0        USA
5     Mexico
10    Canada
dtype: object

In [2]:
ranger = range(15)
#[0,1,2,3,4,5,6,7,8,9,10,11,12,13,14]

In [3]:
ranger

range(0, 15)

In [13]:
ser3.reindex(ranger,method='ffill')
#the method is forward fill

0        USA
1        USA
2        USA
3        USA
4        USA
5     Mexico
6     Mexico
7     Mexico
8     Mexico
9     Mexico
10    Canada
11    Canada
12    Canada
13    Canada
14    Canada
dtype: object

In [14]:
dframe = DataFrame(randn(25).reshape((5,5)),index=['A','B','D','E','F'],columns=['col1','col2','col3','col4','col5'])

In [15]:
dframe

       col1      col2      col3      col4      col5
A -0.712212  1.381482 -0.393636  0.055966 -0.610198
B -0.576944 -0.802996 -1.166757  0.893094  0.407955
D -0.381162  0.160482  0.824784 -0.267995 -1.442805
E -0.990410  1.084197 -1.935594  0.261204  0.129854
F  1.114018 -0.357168 -0.789302  0.052103  0.697381

In [24]:
dframe2 = dframe.reindex(['A','B','C','D','E','F'])

In [25]:
dframe2

       col1      col2      col3      col4      col5
A -0.712212  1.381482 -0.393636  0.055966 -0.610198
B -0.576944 -0.802996 -1.166757  0.893094  0.407955
C       NaN       NaN       NaN       NaN       NaN
D -0.381162  0.160482  0.824784 -0.267995 -1.442805
E -0.990410  1.084197 -1.935594  0.261204  0.129854
F  1.114018 -0.357168 -0.789302  0.052103  0.697381

In [26]:
new_columns = ['col1','col2','col3','col4','col5','col6']

drame2.reindex(columns=new_columns)

In [28]:
dframe2.reindex(columns=new_columns)

       col1      col2      col3      col4      col5  col6
A -0.712212  1.381482 -0.393636  0.055966 -0.610198   NaN
B -0.576944 -0.802996 -1.166757  0.893094  0.407955   NaN
C       NaN       NaN       NaN       NaN       NaN   NaN
D -0.381162  0.160482  0.824784 -0.267995 -1.442805   NaN
E -0.990410  1.084197 -1.935594  0.261204  0.129854   NaN
F  1.114018 -0.357168 -0.789302  0.052103  0.697381   NaN

In [29]:
dframe

       col1      col2      col3      col4      col5
A -0.712212  1.381482 -0.393636  0.055966 -0.610198
B -0.576944 -0.802996 -1.166757  0.893094  0.407955
D -0.381162  0.160482  0.824784 -0.267995 -1.442805
E -0.990410  1.084197 -1.935594  0.261204  0.129854
F  1.114018 -0.357168 -0.789302  0.052103  0.697381

In [32]:
dframe.loc[['A','B','C','D','E','F'],new_columns]

       col1      col2      col3      col4      col5  col6
A -0.712212  1.381482 -0.393636  0.055966 -0.610198   NaN
B -0.576944 -0.802996 -1.166757  0.893094  0.407955   NaN
C       NaN       NaN       NaN       NaN       NaN   NaN
D -0.381162  0.160482  0.824784 -0.267995 -1.442805   NaN
E -0.990410  1.084197 -1.935594  0.261204  0.129854   NaN
F  1.114018 -0.357168 -0.789302  0.052103  0.697381   NaN

In [33]:
dframe2

       col1      col2      col3      col4      col5
A -0.712212  1.381482 -0.393636  0.055966 -0.610198
B -0.576944 -0.802996 -1.166757  0.893094  0.407955
C       NaN       NaN       NaN       NaN       NaN
D -0.381162  0.160482  0.824784 -0.267995 -1.442805
E -0.990410  1.084197 -1.935594  0.261204  0.129854
F  1.114018 -0.357168 -0.789302  0.052103  0.697381