In [5]:
import numpy as np

In [6]:
arr = np.arange(0,11)

In [7]:
arr

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10])

In [8]:
arr[8]

8

In [9]:
arr[1:5]

array([1, 2, 3, 4])

In [10]:
list1 = [1,2,3,4,5]

In [11]:
list1[1:3]

[2, 3]

In [12]:
arr[0:5]

array([0, 1, 2, 3, 4])

In [7]:
arr[0:5] = 100

In [13]:
arr

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10])

In [14]:
arr = np.arange(0,11)

In [15]:
arr

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10])

In [16]:
slice_of_arr = arr[0:6]

In [17]:
slice_of_arr

array([0, 1, 2, 3, 4, 5])

In [25]:
slice_of_arr[:] = 99

In [26]:
slice_of_arr
#this change occurs our orginal change

array([99, 99, 99, 99, 99, 99])

In [27]:
arr

array([99, 99, 99, 99, 99, 99,  6,  7,  8,  9, 10])

In [28]:
arr_copy = arr.copy()
#if we don't wanna change the original array, we can make a copy at the beginning before the slice

In [29]:
arr_copy

array([99, 99, 99, 99, 99, 99,  6,  7,  8,  9, 10])

In [30]:
arr_2d = np.array([[5,10,15],[20,25,30],[35,40,45]])
#3 by 3, 2d array

In [23]:
arr_2d

array([[ 5, 10, 15],
       [20, 25, 30],
       [35, 40, 45]])

In [31]:
arr_2d[1]
#call the second row

array([20, 25, 30])

In [32]:
arr_2d[1][0]
#to get individual value

20

In [33]:
arr_2d[:2,1:]
#:2 before row 2(not include 2), after column 1(include 1)

array([[10, 15],
       [25, 30]])

In [34]:
arr_2d[2]

array([35, 40, 45])

In [45]:
arr2d = np.zeros((10,9))

In [46]:
arr2d

array([[0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0.]])

In [51]:
arr_length = arr2d.shape[1]
#get the length of the row or column, if .shape[0], result will be 10

In [59]:
arr_length

9

In [60]:
for i in range(arr_length):
    arr2d[i]=i
    
    #i is the row
    #range(0,10) meaning 0,...,9

In [61]:
arr2d

array([[0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [1., 1., 1., 1., 1., 1., 1., 1., 1.],
       [2., 2., 2., 2., 2., 2., 2., 2., 2.],
       [3., 3., 3., 3., 3., 3., 3., 3., 3.],
       [4., 4., 4., 4., 4., 4., 4., 4., 4.],
       [5., 5., 5., 5., 5., 5., 5., 5., 5.],
       [6., 6., 6., 6., 6., 6., 6., 6., 6.],
       [7., 7., 7., 7., 7., 7., 7., 7., 7.],
       [8., 8., 8., 8., 8., 8., 8., 8., 8.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0.]])

In [70]:
arr2d[[2,4,7,8,6,8]]
#index it by the values in that row, so cannot exceed 10 and 9, considering the column is 9. so max is 8
#gives us rows for indexing

array([[2., 2., 2., 2., 2., 2., 2., 2., 2.],
       [4., 4., 4., 4., 4., 4., 4., 4., 4.],
       [7., 7., 7., 7., 7., 7., 7., 7., 7.],
       [8., 8., 8., 8., 8., 8., 8., 8., 8.],
       [6., 6., 6., 6., 6., 6., 6., 6., 6.],
       [8., 8., 8., 8., 8., 8., 8., 8., 8.]])