In [17]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame

In [20]:
import webbrowser
website='http://en.wikipedia.org/wiki/NFL_win-loss_records'
webbrowser.open(website)

True

In [23]:
#copy the selected table, it will save to the clipboard
#read info in the clipboard
nfl_frame = pd.read_clipboard()
nfl_frame

,Rank,Team,GP,Won,Lost,Tied,Pct.,First,NFL,Season,Division
0,1,Dallas,Cowboys,898,512,380,6,0.573,1960,NFC,East
1,2,Chicago,Bears,"1,386",761,583,42,0.564,1920,NFC,North

In [25]:
#get column name
nfl_frame.columns

Index(['Rank', 'Team', 'GP', 'Won', 'Lost', 'Tied', 'Pct.', 'First', 'NFL',
       'Season', 'Division'],
      dtype='object')

In [26]:
nfl_frame.Rank

0    1
1    2
Name: Rank, dtype: int64

In [33]:
nfl_frame.Team

0     Dallas
1    Chicago
Name: Team, dtype: object

In [34]:
#cannot do it with columns that have more than one word in it, so we use bracket
nfl_frame['First']
#nfl_frame.First

0    0.573
1    0.564
Name: First, dtype: float64

In [36]:
#Create a new dataframe
DataFrame(nfl_frame,columns=['Team','First','Division'])

      Team  First Division
0   Dallas  0.573     East
1  Chicago  0.564    North

In [14]:
DataFrame(nfl_frame,columns=['Team','First NFL Season','Division','Stadium'])

                      Team  First NFL Season   Division  Stadium
0           Dallas Cowboys              1960   NFC East      NaN
1            Chicago Bears              1920  NFC North      NaN
2        Green Bay Packers              1921  NFC North      NaN
3  New England Patriots[b]              1960   AFC East      NaN
4           Miami Dolphins              1966   AFC East      NaN

In [37]:
nfl_frame

,Rank,Team,GP,Won,Lost,Tied,Pct.,First,NFL,Season,Division
0,1,Dallas,Cowboys,898,512,380,6,0.573,1960,NFC,East
1,2,Chicago,Bears,"1,386",761,583,42,0.564,1920,NFC,North

In [40]:
nfl_frame.head()
#retrive first five rows by default

,Rank,Team,GP,Won,Lost,Tied,Pct.,First,NFL,Season,Division
0,1,Dallas,Cowboys,898,512,380,6,0.573,1960,NFC,East
1,2,Chicago,Bears,"1,386",761,583,42,0.564,1920,NFC,North

In [42]:
#return the first few rows, and return the header name if the number is 0
nfl_frame.head(1)

   Rank    Team       GP  Won  Lost  Tied  Pct.  First   NFL Season Division
0     1  Dallas  Cowboys  898   512   380     6  0.573  1960    NFC     East

In [43]:
#return the end rows, the last few rows
nfl_frame.tail(1)

   Rank     Team     GP    Won  Lost  Tied  Pct.  First   NFL Season Division
1     2  Chicago  Bears  1,386   761   583    42  0.564  1920    NFC    North

In [46]:
#.loc for label based indexing
#.iloc for positional indexing
nfl_frame.loc[0]

Rank              1
Team         Dallas
GP          Cowboys
Won             898
Lost            512
Tied            380
Pct.              6
First         0.573
NFL            1960
Season          NFC
Division       East
Name: 0, dtype: object

In [48]:
nfl_frame['Stadium'] = 'Levis\'s Stadium'
#or we use "Levis's Stadium" - since there is a single quote in the

In [20]:
nfl_frame

,Rank,Team,GP,Won,Lost,Tied,Pct.,First NFL Season,Division,Stadium
0,1,Dallas Cowboys,898,512,380,6,0.573,1960,NFC East,Levis's Stadium
1,2,Chicago Bears,"1,386",761,583,42,0.564,1920,NFC North,Levis's Stadium
2,3,Green Bay Packers,"1,352",743,571,38,0.564,1921,NFC North,Levis's Stadium
3,4,New England Patriots[b],900,500,391,9,0.561,1960,AFC East,Levis's Stadium
4,5,Miami Dolphins,816,452,360,4,0.556,1966,AFC East,Levis's Stadium

In [21]:
nfl_frame['Stadium'] =np.arange(5)

In [22]:
nfl_frame

,Rank,Team,GP,Won,Lost,Tied,Pct.,First NFL Season,Division,Stadium
0,1,Dallas Cowboys,898,512,380,6,0.573,1960,NFC East,0
1,2,Chicago Bears,"1,386",761,583,42,0.564,1920,NFC North,1
2,3,Green Bay Packers,"1,352",743,571,38,0.564,1921,NFC North,2
3,4,New England Patriots[b],900,500,391,9,0.561,1960,AFC East,3
4,5,Miami Dolphins,816,452,360,4,0.556,1966,AFC East,4

In [28]:
stadiums = Series(['Levi\'s Stadium','fcvsda','AT&T Stadium'], index=[4,0,1])

In [29]:
stadiums

4    Levi's Stadium
0            fcvsda
1      AT&T Stadium
dtype: object

In [30]:
nfl_frame

,Rank,Team,GP,Won,Lost,Tied,Pct.,First NFL Season,Division,Stadium
0,1,Dallas Cowboys,898,512,380,6,0.573,1960,NFC East,0
1,2,Chicago Bears,"1,386",761,583,42,0.564,1920,NFC North,1
2,3,Green Bay Packers,"1,352",743,571,38,0.564,1921,NFC North,2
3,4,New England Patriots[b],900,500,391,9,0.561,1960,AFC East,3
4,5,Miami Dolphins,816,452,360,4,0.556,1966,AFC East,4

In [31]:
nfl_frame['Stadium'] = stadiums

In [32]:
nfl_frame

,Rank,Team,GP,Won,Lost,Tied,Pct.,First NFL Season,Division,Stadium
0,1,Dallas Cowboys,898,512,380,6,0.573,1960,NFC East,fcvsda
1,2,Chicago Bears,"1,386",761,583,42,0.564,1920,NFC North,AT&T Stadium
2,3,Green Bay Packers,"1,352",743,571,38,0.564,1921,NFC North,NaN
3,4,New England Patriots[b],900,500,391,9,0.561,1960,AFC East,NaN
4,5,Miami Dolphins,816,452,360,4,0.556,1966,AFC East,Levi's Stadium

In [57]:
del nfl_frame['Stadium']

In [50]:
nfl_frame

,Rank,Team,GP,Won,Lost,Tied,Pct.,First,NFL,Season,Division,Stadium
0,1,Dallas,Cowboys,898,512,380,6,0.573,1960,NFC,East,Levis's Stadium
1,2,Chicago,Bears,"1,386",761,583,42,0.564,1920,NFC,North,Levis's Stadium

In [51]:
data = {'City':['SF','LA','NYC'],'Population':[837000,3880000,840000]}

In [56]:
city_frame = DataFrame(data)
#city_frame = DataFrame(data,index = [2,3,4])

In [57]:
city_frame

  City  Population
0   SF      837000
1   LA     3880000
2  NYC      840000

In [54]:
website = 'http://pandas.pydata.org/pandas-docs/dev/generated/pandas.DataFrame.html'

In [55]:
webbrowser.open(website)

True